<label for="{{id}}" class="reg__form-label label">
    <span class="label__span label__span_hidden">
        {{span_name}}
    </span>
    <input type="{{type}}" name="{{id}}" id="{{id}}" class="label__input" placeholder="{{span_name}}">
</label>
